<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'APP_AVAILABLE_STORIES' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-img style="align-self: flex-end; width: 80px; height: 80px; padding: 10px"
               src="assets/imgs/profile/{{activeUserProfileAvatarName}}" (click)="goToSelectUserProfile()"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card class="card" *ngFor="let story of availableStories" >
    <div class="cover">
      <ion-icon
        class="noCoverIcon"
        *ngIf="!story.cover"
        name="book"
        style="font-size: 64px;"
      ></ion-icon>
      <ion-img
        *ngIf="story.cover"
        src="assets/stories/{{story.folder}}/{{story.cover}}"
      ></ion-img>
    </div>
    <ion-card-content>
      <ion-card-title>
        <ion-icon (click)="addStory(story)"
          name="cloud-download"
          *ngIf="story.medium === 'cloud'"
        ></ion-icon>
        {{story.title}}
        <p  *ngIf="story.medium === 'cloud'">{{story.downloadCounter}} Downloads</p>

      </ion-card-title>
      <ion-card-subtitle>
        {{story.author.join(', ')}}
      </ion-card-subtitle>
      <p>
        {{story.shortDescription}}
        <button (click)="seeReview(story)">Mehr Informationen</button>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
