<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'APP_AVAILABLE_STORIES' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-img style="align-self: flex-end; width: 80px; height: 80px; padding: 10px"
               src="assets/imgs/profile/{{activeUserProfileAvatarName}}" (click)="goToSelectUserProfile()"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card class="card" *ngFor="let story of this.storyService.availableStories">
    <div class="cover">
      <ion-icon
        class="noCoverIcon"
        *ngIf="!story.cover"
        name="book"
        style="font-size: 64px;"
      ></ion-icon>
      <ion-img
        *ngIf="story.cover"
        src="assets/stories/{{story.folder}}/{{story.cover}}"
      ></ion-img>
    </div>
    <ion-card-content>
      <ion-card-title>
        <ion-icon (click)="addStory(story)"
                  name="cloud-download"
                  *ngIf="story.medium === 'cloud'"
        ></ion-icon>
        {{story.title}}
        <p *ngIf="story.medium === 'cloud'">{{story.downloadCounter}} Downloads</p>

      </ion-card-title>
      <ion-card-subtitle>
        {{story.author.join(', ')}}
      </ion-card-subtitle>
      <p>
        {{story.shortDescription}}
        <button (click)="goToReview(story)">Mehr Informationen</button>
      </p>
      <ion-grid>
        <ion-row justify-content-start>
          <ion-button (click)="addStory(story)">
            <ion-icon name="add-circle-outline">
            </ion-icon>
          </ion-button>
          <ion-button (click)="showDetails(story)">
            <ion-icon name="information-circle">
            </ion-icon>
          </ion-button>
        </ion-row>
        <ion-row class="tagRow">
          <p><span *ngFor="let tag of story.tags" [ngClass]="'w3-'+tag.color"
                   class="w3-tag w3-round w3-center">{{tag.name}}</span></p>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
