ion-card:hover {
  cursor: pointer;
}

.storyLabel {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ion-thumbnail {
  --size: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.cover {
  width: 150px;
  height: 200px;
}

.ion-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.noCoverIcon {
  padding-left: 40px;
  padding-top: 50px;
  margin: auto;
}

.tagRow {
  padding-top: 8px;
}

.w3-tag {
  margin-right: 5px;
}
