<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'APP_AVAILABLE_STORIES' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-img style="align-self: flex-end; width: 80px; height: 80px" src="assets/imgs/profile/{{activeUserProfileAvatarName}}" (click)="goToSelectUserProfile()"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card *ngFor="let story of availableStories" (click)="addStory(story)">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-icon
            *ngIf="!story.cover"
            name="book"
            style="font-size: 64px;"
        ></ion-icon>
        <ion-img
            *ngIf="story.cover"
            src="assets/stories/{{story.folder}}/{{story.cover}}"
        ></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h1>
          <ion-icon
              name="cloud-download"
              *ngIf="story.medium === 'cloud'"
          ></ion-icon>
          {{story.title}}
        </h1>
        <h2>{{story.author.join(', ')}}</h2>
        <p>{{story.date}}</p>
      </ion-label>

    </ion-item>

    <ion-card-content>
      <p>{{story.shortDescription}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
