.content {
  //background-color: map-get($colors, pale-aqua-blue);         //Gets the pale-aqua-blue color out of ../theme/variables.scss - $colors
  //linear-gradient background from ruddypink to pale-aqua-blue
  background: linear-gradient(
    to bottom,
    map-get($colors, ruddypink) -30%,
    map-get($colors, pale-aqua-blue) 100%
  );
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
