<ion-header>
  <ion-toolbar>
    <ion-title>
      {{metadata.title}}
    </ion-title>

    <ion-button slot="start" margin-start="100px" (click)="goBackToHomeScreen()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text [ngStyle]="{fontSize: this.fontSizePx}">
    {{text}}
  </ion-text>

  <ion-list>
    <ion-button
      class="buttons"
      *ngFor="let a of answers; index as i"
      (click)="nextChapter(i)"
      [ngClass]="pulseClass"
    >
      {{a.value}}
    </ion-button>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row no-padding no-margin>
        <ion-col size="2" align-self-center text-center style="margin-right: 5rem">
          <ion-button (click)="previousChapter()">
            <ion-icon name="arrow-round-back"></ion-icon>
            {{'STORY_BACK' | translate}}
          </ion-button>
        </ion-col>
        <ion-col size="2" align-self-center text-center>
          <ion-button (click)="playPause()">
            <ion-icon *ngIf="!playing" name="play">{{'PLAY' | translate}}</ion-icon>
            <ion-icon *ngIf="playing" name="pause">{{'PAUSE' | translate}}</ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <!-- Intentionally empty to center the play button -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
