<ion-header>
  <ion-toolbar>
    <ion-title id="registrationPageHeading">{{ 'USER_MANAGEMENT_CREATE_ACCOUNT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ngx-auth-firebaseui-register
    (onLoginRequested)="goToLoginPage()"
    (onSuccess)="register($event)"
    (onError)="error($event)"
    [passwordText]="'PASSWORD' |translate"
    [emailText]="'EMAIL' | translate"
    [passwordConfirmationText]="'PASSWORD_CONFIRMATION' | translate"
    [passwordConfirmationErrorRequiredText]="'PASSWORD_CONFIRMATION_REQUIRED' | translate"
    [passwordErrorRequiredText]="'PASSWORD_REQUIRED' | translate"
    [createAccountButtonText]="'CREATE_ACCOUNT' | translate"
    [loginButtonText]="'LOGIN' | translate"
    [emailErrorRequiredText]="'EMAIL_REQUIRED' | translate"
    [nameErrorRequiredText]="'NAME_REQUIRED' | translate"
    [emailErrorPatternText]="'VALID_EMAIL' | translate"
    [passwordErrorMatchText]="'PASSWORD_MATCH' | translate"
    [alreadyHaveAccountText]="'ALREADY_HAVE_ACCOUNT' | translate"
    [titleText]="''"
    (load)="onLoad()"
  ></ngx-auth-firebaseui-register>
</ion-content>
<script>
  window.onload = function () {
    console.log(document.getElementById('createAccountButton').id = 'test');
    console.log(document.getElementById('test'));
  }
</script>
<!--<ion-content class="login-content" padding>-->

<!--  <div class="login-box">-->
<!--    <form (ngSubmit)="register()" #registerForm="ngForm">-->
<!--      <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-list inset>-->
<!--            <ion-item>-->
<!--              <ion-label position="floating"-->
<!--              >{{'USER_MANAGEMENT_NAME' | translate }}</ion-label-->
<!--              >-->
<!--              <ion-input id="accountName"-->
<!--                type="text"-->
<!--                name="name"-->
<!--                [(ngModel)]="registerCredentials.name"-->
<!--                required-->
<!--              ></ion-input>-->
<!--            </ion-item>-->

<!--            <ion-item>-->
<!--              <ion-label position="floating"-->
<!--              >{{'USER_MANAGEMENT_EMAIL' | translate }}</ion-label-->
<!--              >-->
<!--              <ion-input id="accountEMail"-->
<!--                type="email"-->
<!--                name="email"-->
<!--                [(ngModel)]="registerCredentials.email"-->
<!--                required-->
<!--              ></ion-input>-->
<!--            </ion-item>-->

<!--            <ion-item>-->
<!--              <ion-label position="floating"-->
<!--              >{{'USER_MANAGEMENT_PIN' | translate }}</ion-label-->
<!--              >-->
<!--              <ion-input id="accountPIN"-->
<!--                type="password"-->
<!--                name="pin"-->
<!--                [(ngModel)]="registerCredentials.pin"-->
<!--                required-->
<!--              ></ion-input>-->
<!--            </ion-item>-->
<!--          </ion-list>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--      <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-button id="createUserButton"-->
<!--            class="submit-btn"-->
<!--            expand="full"-->
<!--            type="submit"-->
<!--            [disabled]="!registerForm.form.valid"-->
<!--          >-->
<!--            {{'USER_MANAGEMENT_CREATE' | translate }}-->
<!--          </ion-button>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--    </form>-->

<!--    &lt;!&ndash; TODO connect with google-->
<!--        https://developers.google.com/identity/sign-in/web/sign-in-->
<!--   -&ndash;&gt;-->
<!--  </div>-->
<!--</ion-content>-->
