<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only color="dark">
            <ion-icon name='menu'></ion-icon>
        </button>
    <ion-title>{{'STORYMENU_HEADER' | translate}}</ion-title>

    <ion-buttons end>

      <button ion-button color="dark" (click)="goToSelectUserProfilePage()">
        <!-- <ion-icon name="person"></ion-icon><ion-label>{{activeUserProfileName}}</ion-label> -->
        <img width="40px" height="40px" src='assets/imgs/profile/{{activeUserProfileAvatarName}}' /> <!-- TODO remove static width and height of image -->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-row padding *ngIf="this.stories.length < 1">
    <p>{{ 'STORYMENU_NO_STORIES_YET' | translate }}</p>
    <button full ion-button (click)="goToAvailableStories()">{{ 'STORYMENU_ADD_SOME_STORIES' | translate }}</button>
  </ion-row>
  <ion-card *ngFor="let story of this.stories">
    <ion-item>
      <ion-icon item-start name="book" style="font-size: 64px;"></ion-icon>
      <h1>{{story.title}}</h1>
      <h2>{{story.author}}</h2>
      <p>{{story.date}}</p>
    </ion-item>
    <ion-card-content>
      <p>{{story.readers.map(getSubtitle)}}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row justify-content-end>
        <ion-col>
          <button color="secondary" ion-button icon-only (click)="goToPlayerPage(story.id)">
                            <ion-icon name="play"></ion-icon>
                        </button>
          <button ion-button icon-only (click)="showDetails(story)">
                            <ion-icon name="information-circle"></ion-icon>
                        </button>
          <button color="danger" ion-button icon-only (click)="deleteStory(story)">
                            <ion-icon name="trash"></ion-icon>
                        </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
