<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="story-menu">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'APP_HOME_BUTTON' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="available-stories">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>{{'APP_NEW_STORIES' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{'APP_SETTINGS' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
