<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'APP_SETTINGS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{'SETTINGS_INTERACTION' | translate}}</ion-label>
      <ion-toggle color="oldrose" [(ngModel)]="settings.interaction">
      </ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>{{'SETTINGS_VOICE_CONTROL' | translate}}</ion-label>
      <ion-toggle color="oldrose" [(ngModel)]="settings.speechRecognition">
      </ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>{{'SETTINGS_AUTO_PLAY' | translate}}</ion-label>
      <ion-toggle color="oldrose" [(ngModel)]="settings.autoPlay"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>{{'SETTINGS_LANGUAGE' | translate}}</ion-label>
      <ion-select
        [(ngModel)]="selectedLanguage"
        (ngModelChange)="changeLanguage()"
      >
        <ion-option *ngFor="let lang of languages">{{lang.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{'SETTINGS_TTS_RATE' | translate}}</ion-label>
      <ion-select [(ngModel)]="ttsRate" (ngModelChange)="changeTtsRate()">
        <ion-option *ngFor="let rate of ttsRates" [value]="rate"
          >{{rate | translate}}</ion-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{'SETTINGS_FONT_SIZE' | translate}}</ion-label>
      <ion-select [(ngModel)]="fonts" interface="action-sheet">
        <ion-option value="pixel12">12px</ion-option>
        <ion-option value="pixel14">14px</ion-option>
        <ion-option value="pixel16">16px</ion-option>
        <ion-option value="pixel18">18px</ion-option>
      </ion-select>
    </ion-item>

    <ion-item (click)="goToUserAccount()">
      <ion-label>{{'SETTINGS_GO_TO_ACCOUNT' | translate}}</ion-label>
    </ion-item>

    <ion-item (click)="goToCreditspage()">
      <ion-label>Credits</ion-label>
    </ion-item>

    <ion-item (click)="goToImpressumpage()">
      <ion-label>Impressum</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
