<ion-header>
  <ion-toolbar>
<!--    TODO i18n-->
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" padding>
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-label position="floating">{{'E-Mail'}}</ion-label>
              <ion-input
                type="email"
                name="email"
                [(ngModel)]="email"
                required
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            class="submit-btn"
            expand="full"
            type="submit"
            [disabled]="!registerForm.form.valid"
          >
            {{'Login'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
