<ion-header>
  <ion-toolbar>
    <ion-title>{{'SETTINGS_CREDITS' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{'CREDITS_PROGRAMMERS' | translate}}
      </ion-card-title>
      <br>
      <p>
        Markus Altmeyer <br/>
        Lukas Becker <br/>
        Christopher Biel <br/>
        Robert Cios <br/>
        Janek Dahl <br/>
        Nico Enderlein <br/>
        Florian Foss <br/>
        Nikolas Fritzen <br/>
        Marvin Hoff <br/>
        Matthias Kiefer <br/>
        Kevin P. Kuntz <br/>
        Tobias Meiser <br/>
        Maximilian Mick <br/>
        Lennart Monir <br/>
        Kevin M&uuml;nch <br/>
        Urs Oberdorf <br/>
        Jonas Plum <br/>
        Lukas Raubuch <br/>
        Janis D. Schacht <br/>
        Thomas Seiwert <br/>
        Joris Alexander Seyler <br/>
        Maximilian Weiler <br/>
        Mathias Wittling <br/>
        Jana Braun <br/>
        Silas Scholl <br/>
        Tim Recktenwald <br/>
        Sami Machaoui <br/>
        Mike Kasper <br/>
        Nathanael Mangold <br/>
        <br/>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{'CREDITS_ARTISTS_STORIES' | translate}}
      </ion-card-title>
      <br>
      <p>
        Janina Heese <br/>
        Sarah Philippi <br/>
        Lisa Roisch <br/>
        Kevin Schneider <br/>
        Raoul Sinner
        <br/>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
