<ion-header>
  <ion-toolbar>
    <ion-title>{{'SETTINGS_LEGAL_INFORMATION' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <!--<img src="img/nin-live.png"/>-->
    <ion-card-content>
      <ion-card-title>
        Ansprechpartner
      </ion-card-title>
      <p>
        Max Mustermann <br/>
        Musterstraße 37 <br/>
        11111 Musterstadt <br/>
        max@mustermann.de <br/>
        0681/12345
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
