<ion-header>
  <ion-toolbar>
    <ion-title>Edit the story</ion-title>
    <ion-button slot="start" margin-start="100px" (click)="goBackToStoryDetails()">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <h2>Part A</h2>
    </ion-list-header>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input [placeholder]="model.title" type="text" minlength="5" [(ngModel)]="title" text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Author</ion-label>
      <ion-input [placeholder]="model.title" type="text" minlength="5" [(ngModel)]="title" text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input [placeholder]="model.title" type="text" minlength="5" [(ngModel)]="title" text-right></ion-input>
    </ion-item>
  </ion-list>
  <button expand="block" (click)="handleClick()">Print</button>
</ion-content>
