<ion-header>
  <ion-toolbar>
    <ion-title>Edit the story</ion-title>
    <ion-button slot="start" margin-start="100px" (click)="goBackToStoryDetails()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{'TITLE' | translate}}</ion-label>
      <ion-input type="text" minlength="5" [(ngModel)]="title" text-right></ion-input>
    </ion-item>
    <ion-item *ngFor="let author of tempAuthors, index as i">
      <ion-label position="stacked">{{'AUTHOR' | translate}} {{i + 1}}</ion-label>
      <ion-input type="text" minlength="3" [(ngModel)]="authors[i]"
                 text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'DESCRIPTION' | translate}}</ion-label>
      <ion-input type="text" minlength="5" [(ngModel)]="description" text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tags</ion-label>
      <ion-row class="tagRow" align-items-center>
        <p><span *ngFor="let tag of tags" [ngClass]="'w3-'+tag.color"
                 class="w3-tag w3-round w3-center">{{tag.name}}</span></p>
        <ion-button (click)="presentAlertPrompt()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-button
    expand="block"
    color="primary"
    (click)="onSubmit()"
  >
    {{'SETTINGS_SAVE' | translate}}
  </ion-button>
</ion-content>
