<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'APP_STORY_REVIEW' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-img style="align-self: flex-end; width: 80px; height: 80px; padding: 10px"
               src="assets/imgs/profile/{{activeUserProfileAvatarName}}" (click)="goToSelectUserProfile()"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="content">

  <ion-card-content>

    <ion-card-title>
      {{ 'WRITE_A_REVIEW' | translate }} {{currentStoryTitle}}
    </ion-card-title>

    <ion-item>
      <ion-textarea #textareaNewStoryReview placeholder="Enter any notes here..."></ion-textarea>
    </ion-item>
    <ion-button (click)="addNewReview(textareaNewStoryReview.value)" >
      {{ 'ADD_A_REVIEW' | translate }}
    </ion-button>
  </ion-card-content>

  <div *ngFor="let review of availableReview" >
  <ion-card class="card"  >

    <ion-card-content *ngIf="review.storyId === currentStoryID" >


      <ion-card-title>
        {{review.storyTitle}}
      </ion-card-title>
      <ion-card-subtitle>
        {{review.author}}
      </ion-card-subtitle>
      <p>
      {{review.date}}

      </p>
      <p>
        {{review.comment}}
      </p>
      <p>
        {{review.rating}}/5
      </p>

      <ion-button *ngIf="review.authorId === userId"  (click)="deleteReview(review.ratingId)" color="danger" fill="clear"
            slot="end">
      {{ 'COMMON_DELETE' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</div> 
</ion-content>