<ion-header id="createUserHeader">
  <ion-toolbar>
    <ion-title id="selectUserTitle">{{ 'USER_MANAGEMENT_SELECT_PROFILE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isShowingOptionsButton" (click)="showOptions()">
        <ion-label>{{showingOptionsLabel}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="list">
    <ion-item
      (click)="select($event, userProfile.id)"
      *ngFor="let userProfile of this.userProfiles | async"
    >
      <ion-avatar class="icon" slot="start">
        <img src="assets/imgs/profile/{{userProfile.avatar.name}}"/>
      </ion-avatar>
      <h2 class="itemTitle">{{userProfile.name}}</h2>
      <h2>{{userProfile.key}}</h2>

      <ion-button *ngIf="isShowingOptions" (click)="delete($event, userProfile.id)" color="danger" fill="clear"
                  slot="end">
        {{ 'COMMON_DELETE' | translate }}
      </ion-button>
    </ion-item>

    <ion-item (click)="create();" id="createProfileButton">
      <ion-avatar class="icon" slot="start">
        <ion-icon name="add-circle"></ion-icon>
      </ion-avatar>
      <h2 class="itemTitle">{{ 'USER_MANAGEMENT_CREATE_PROFILE' | translate }}</h2>
    </ion-item>
  </ion-list>

  <mat-card>
    <mat-card-actions style="flex-direction: column; box-sizing: border-box; display: flex;">
      <ion-button (click)="onSignOut()" fill="clear"
                  class="mat-focus-indicator mat-button mat-button-base mat-primary ng-star-inserted">
        <span>{{ 'USER_MANAGEMENT_LOGOUT' | translate }}</span>
        <div class="mat-ripple mat-button-ripple">
        </div>
        <div class="mat-button-focus-overlay"></div>
      </ion-button>
    </mat-card-actions>
  </mat-card>
</ion-content>
