.itemTitle {
  margin: 0px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

ion-icon {
  font-size: 40px;
}
