<ion-header>
  <ion-toolbar>
    <ion-title id="userPageTitle">{{'USER_MANAGEMENT_MY_ACCOUNT' | translate}}</ion-title>
    <ion-buttons slot="end" (click)="onBackKeyDown()">
      <ion-icon style="width: 50px; height: 50px" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ngx-auth-firebaseui-user (onAccountEdited)="onUserEdited($event)" (onSignOut)="onSignOut()"
    (click)="onUserDelete($event)"></ngx-auth-firebaseui-user>
</ion-content>