<ion-header>
  <ion-toolbar>
    <ion-title>{{'USER_MANAGEMENT_MY_ACCOUNT' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{userAccount.name}}
    </ion-card-header>
    <ion-card-content>
      <p>
        {{userAccount.email}}
      </p>
      <p>
        {{userAccount.pin}}
      </p>
      <p>
        <ion-button (click)="logout()">Delete account</ion-button>
        <!-- TODO i18n Tobi -->
      </p>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="changePin()">
    <ion-item>
      <table>
        <tr>
          <label>Change pin</label>
        </tr>
        <tr>
          <label class="change-pin-button-information">
            Choose a unique pin
          </label>
        </tr>
      </table>
    </ion-item>
    <!-- TODO looks not really nice in app -->
  </ion-button>
</ion-content>
