<ion-header>
  <ion-toolbar>
    <ion-title>TaleTime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <h1 id="startPageHeading">{{'START_WELCOME' | translate }} TaleTime</h1>

    <ion-img style="width:100px; height: 100px" src="assets/icon/appicon.png"></ion-img>

    <h4>{{'START_DESCRIPTION' | translate }}</h4>

    <ion-button (click)="goToCreateAccount()">
      <!-- TODO i18n     -->
      {{'Registrieren' | translate }}
    </ion-button>
  </div>

  <div class="ion-text-center">
    <form (ngSubmit)="login()">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <!--              TODO i18n-->
              <ion-label position="floating">{{'E-Mail'}}</ion-label>
              <ion-input
                type="email"
                name="email"
                [(ngModel)]="email"
                required
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <!--              TODO i18n-->
              <ion-label position="floating">{{'Pin'}}</ion-label>
              <ion-input
                type="password"
                name="pin"
                [(ngModel)]="pin"
                required
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            class="submit-btn"

            type="submit"
          >
            {{'Login'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
