name: BuildAndDeploy

on:
  push:
    branches:
    - ionic4

jobs:
  firebase-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@ionic4
    - uses: actions/setup-node@master
      with:
        node-version: '10.x'
    - run: npm install
    - run: ionic build production
    - uses: w9jds/firebase-action@master
      with:
        args: deploy --only hosting
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        FIREBASE_PROJECT: tale-time
