<!--
  Generated template for the ChangeUserAccountPinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>Change pin</ion-title>
    <!-- TODO i18n Tobi -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="changePin()" #changePinForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-label position="floating">Type your current pin</ion-label>
            <!-- TODO i18n Tobi -->
            <ion-input
                type="password"
                name="old-pin"
                [(ngModel)]="credentials.oldPin"
                required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Type your new pin</ion-label>
            <!-- TODO i18n Tobi -->
            <ion-input
                type="password"
                name="pin"
                [(ngModel)]="credentials.pin"
                required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Retype your new pin</ion-label>
            <!-- TODO i18n Tobi -->
            <ion-input
                type="password"
                name="retype-pin"
                [(ngModel)]="credentials.retypePin"
                required
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
            class="submit-btn"
            expand="full"
            type="submit"
            [disabled]="!changePinForm.form.valid"
        >
          Save
        </ion-button>
        <!-- TODO i18n Tobi -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>
